<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form action="/queue" method="POST">
        <div class="form-grup">
            <label for="sourcelink0" class="form-control">Source:</label>
            <input value="https://soundcloud.com/gm2ldeluxe/malik-montana-bo-z-o-owiem-nie" type="text" class="form-control" name="sourcelink0" id="sourcelink">
        </div>
        <div class="form-grup">
            <label for="sourcelink1" class="form-control">Source:</label>
            <input value="https://soundcloud.com/kxsztan/kukon-wirtualny-diler-kukon" type="text" class="form-control" name="sourcelink1" id="sourcelink">
        </div>
        
        <button type="submit" class="btn btn-primary">add</button> 
    </form>
</body>
</html>