<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form action="/queue" method="POST">
        <div class="form-grup">
            <label for="sourcelink" class="form-control">Source:</label>
            <input type="text" class="form-control" name="sourcelink" id="sourcelink">
        </div>
        
        <button type="submit" class="btn btn-primary">add</button> 
    </form>
</body>
</html>