<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>queue</title>
</head>
<body>
    <form action="/download" method="post">

        <table>
            <thead>
                <tr>
                    <th for="artist" class="form-control">artist:</th>
                    <th for="title" class="form-control">title:</th>
                    <th for="soundcloud" class="form-control">soundcloud:</th>
                    <th for="spotify" class="form-control">spotify:</th>
                    <th for="youtube" class="form-control">youtube:</th>
                    <th for="sourcelink" class="form-control">sourcelink:</th>
                </tr>
            </thead>
            
            <% songs.forEach((song, index) => { %>
                <tr>
                    <td class="form-grup" >
                        <input value="<%= song.artist %>" type="text" class="form-control" name="artist" id="artist">
                    </td>
                    <td class="form-grup">
                        <input value="<%= song.title %>" type="text" class="form-control" name="title" id="title">
                    </td>
                    <td class="form-grup">
                        <input value="<%= song.album %>" type="text" class="form-control" name="soundcloud" id="soundcloud">
                    </td>
                    <td class="form-grup">
                        <input type="text" class="form-control" name="spotify" id="spotify">
                    </td>
                    <td class="form-grup">
                        <input type="text" class="form-control" name="youtube" id="youtube">
                    </td>
                    <td class="form-grup">
                        <input value="<%= song.subtitle %>" type="text" class="form-control" name="sourcelink" id="sourcelink">
                    </td>
                    
                </tr>
            <% }); %>

        </table>

        <button type="submit" class="btn btn-primary">download</button> 
    
    </form>

</body>
</html>