<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>queue</title>
</head>
<body>
    <form action="/download" method="post">
        <div class="form-grup">
            <label for="artist" class="form-control">artist:</label>
            <input value="<%= song.author.name %>" type="text" class="form-control" name="artist" id="artist">
        </div>
        <div class="form-grup">
            <label for="title" class="form-control">title:</label>
            <input value="<%= song.title %>" type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-grup">
            <label for="soundcloud" class="form-control">soundcloud:</label>
            <input value="<%= song.author.url %>" type="text" class="form-control" name="soundcloud" id="soundcloud">
        </div>
        <div class="form-grup">
            <label for="spotify" class="form-control">spotify:</label>
            <input type="text" class="form-control" name="spotify" id="spotify">
        </div>
        <div class="form-grup">
            <label for="youtube" class="form-control">youtube:</label>
            <input type="text" class="form-control" name="youtube" id="youtube">
        </div>
        <div class="form-grup">
            <label for="sourcelink" class="form-control">sourcelink:</label>
            <input value="<%= song.url %>" type="text" class="form-control" name="sourcelink" id="sourcelink">
        </div>
        <button type="submit" class="btn btn-primary">download</button> 
    </form>

</body>
</html>