

<br></br>
<br></br>


<div class="container">

<form method="POST">
<div class="row">
    <div class="col">
        <input type="text" class="form-control" name="title" value="<%- getInfoTitle %>" required>
    </div>
    <div class="col">
        <input type="text" class="form-control" name="artist" value="<%- getInfoArtist %>">
    </div>
    <div class="col">
        <input type="text" class="form-control" name="scArtist" value="<%- getInfoscArtist %>">
    </div>
    <div class="col">
        <input type="text" class="form-control" name="spotify">
    </div>
    <div class="col">
        <input type="text" class="form-control" name="youtube">
    </div>
    <div class="col">
        <input type="text" class="form-control" name="scDownload" value="<%- getInfoLink %>">
    </div>
    
  </div>
  <br>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>

</div>